@model CRM.Models.tb_Users
@{
    ViewBag.Title = "Password";
    Layout = "~/Areas/Portal/Views/Shared/PortalLayout.cshtml";
}
<script>
    $(function () {

        $('#Marriage1').find("option[value='" + $('#Marriage').val() + "']").attr("selected", true);
        $('#Politics1').find("option[value='" + $('#Politics').val() + "']").attr("selected", true);
        $('#Education1').find("option[value='" + $('#Education').val() + "']").attr("selected", true);
        $("#UserID1").html($("#UserID").val());
    });
    function submit_before() {
        //alert($('#Marriage1').val());
        $('#Marriage').val($('#Marriage1').val());
        $('#Politics').val($('#Politics1').val());
        $('#Education').val($('#Education1').val());
        $('#UserCenter_form').submit();
    }
    function change_password() {
        if ($("#OldPassword").val() == "") {
            alert("请输入旧密码！");
            $("#OldPassword").focus();
            return;
        }
        if ($("#NewPassword").val() == "") {
            alert("请输入新密码！");
            $("#OldPassword").focus();
            return;
        }
        if ($("#NewPassword").val() != $("#NewPassword1").val()) {
            alert("两次输入不一致！");
            $("#NewPassword").focus();
            return;
        }
        $.ajax({
            url: '@Url.Content("~/Admin/User/Password")',
            data: {
                id: $("#UserID").val(),
                OldPassword: $("#OldPassword").val(),
                NewPassword: $("#NewPassword").val()
            },
            type: "post",
            success: function (data) {
                alert(data);
            }
        });
    }
    $(function () {
        $("#SavePicture").click(function () {
            if ($("#Picture").val().length > 0) {
                ajaxFileUpload();
            }
            else {
                alert("请选择图片");
            }
        })
    })
    function ajaxFileUpload() {
        $.ajaxFileUpload
        (
            {
                url: '@Url.Content("~/Admin/User/PictureUpload")', //用于文件上传的服务器端请求地址
                secureuri: false, //一般设置为false
                fileElementId: 'Files', //文件上传空间的id属性  <input type="file" id="file" name="file" />
                dataType: 'HTML', //返回值类型 一般设置为json
                success: function (data, status)  //服务器成功响应处理函数
                {
                    alert(data);
                    $("#Picture_Img").attr("src", data);
                    $("#Picture").val(data);
                    if (typeof (data.error) != 'undefined') {
                        if (data.error != '') {
                            alert(data.error);
                        } else {
                            alert(data.msg);
                        }
                    }
                },
                error: function (data, status, e)//服务器响应失败处理函数
                {
                    alert(e);
                }
            }
        )
        return false;
    }
</script>
<div class="box header">
    <div class="head"><div></div></div>
    <h2>Personal</h2>
    <div class="desc" align="center">
        <form id="UserCenter_form" action="@Url.Content("~/Admin/User/PutUserInfo")" method="put">  
            <div style="display:none;">
                @Html.TextBoxFor(u => u.UserID)
                @Html.TextBoxFor(u => u.RealName)
                @Html.TextBoxFor(u => u.WorkNum)
                @Html.TextBoxFor(u => u.DepartID)
                @Html.TextBoxFor(u => u.DutyID)
                @Html.TextBoxFor(u => u.IfLogin)
                @Html.TextBoxFor(u => u.CreateTimeDate)
                @Html.TextBoxFor(u => u.Marriage)
                @Html.TextBoxFor(u => u.Graduate)
                @Html.TextBoxFor(u => u.Politics)
                @Html.TextBoxFor(u => u.Education)
                @Html.TextBoxFor(u => u.Password)
                @Html.TextBoxFor(u => u.Remark)
                @Html.TextBoxFor(u => u.Sex)
                @Html.TextBoxFor(u => u.Other)
                @Html.TextBoxFor(u => u.UserTypeID)
                @Html.TextBoxFor(u => u.Picture)
            </div>          
            <div class="tab_container">
                <div id="Password_tab" class="tab_content">
                    <table class="tablesorter" cellspacing="0">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td align="right" width="17%">
                                    Old Password：
                                </td>
                                <td width="33%">
                                    @Html.Password("OldPassword", "")
                                </td>
                            </tr>
                            <tr>
                                <td align="right" width="17%">
                                    New Password：
                                </td>
                                <td width="33%">
                                    @Html.Password("NewPassword", "")
                                </td>
                            </tr>
                            <tr>
                                <td align="right" width="17%">
                                    New Password Again：
                                </td>
                                <td width="33%">
                                    @Html.Password("NewPassword1", "")
                                </td>

                            </tr>
                            <tr>
                                <td align="right" width="17%">
                                    
                                </td>
                                <td width="33%">
                                    <a id="ChangePassword" class="button" onclick="change_password()"><span>Change</span></a>
                                </td>
                            </tr>

                        </tbody>

                    </table>
                </div><!-- end of #Password -->

            </div><!-- end of .tab_container -->
        </form>
    </div>
    <div class="bottom">
        <div>

        </div>
    </div>
</div>